.mainEventsSection {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #F9F2F2;

}


.linkstyle{
    text-decoration: none;
    color:none;
    margin: 3rem;
    display: flex;
   justify-content: center;
   align-items: center;
}



.tile{
    background-color: white;
    width:342px;
    height: 464px;
    border-radius:25px;
    overflow: hidden;
    cursor: pointer;

}

.imgContainer{
    height:265px;
    width: 342px;
    object-fit: cover;
}

.title{
    color:#7201A5;
    font-size:24px;
    font-weight: bold;
    margin:5px;
}
.countryTitle{
    font-size:18px;
    font-weight: bold;
    margin:5px;
    color:black;
}
.ratingNDateContainer{
    margin:5px;
    display:flex;
    flex-direction:row ;
    justify-content: space-between;
    height:30px;
}
.tileDate{
    font-size:14px;
    font-weight: bold;
    color:black;
}
.paragraphContainer{
    font-size: 13px;
    margin:5px;
    margin-top:0.7rem;
    line-height:19.5px;
    color:black;
    font-weight: bold;
    /* width:200px; */
    height: 200px;
    margin-left:0.7rem;
}
.paragraphDesc{
 white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  
}

@media (max-width: 768px) {
    .mainEventsSection {
        grid-template-columns: 1fr ;
    }
    
}