.FooterContainer {
  background-color: plum;
  /* height: 350px; */
  width: auto;
  box-sizing: border-box;
  padding: 20px;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.FooterLeft {
  display: flex;
  justify-content: center;
  /* background-color: plum; */
  align-items: center;
  width: 600px;
}


.FooterLogo {
  justify-content: right;
  /* background-color: plum; */
  margin-left: 5%;
  padding: 15px;
}

.socLogo {
  width: 200px;
  height: 200px;
}

.FooterPoweredByText {
  display: flex;
  text-indent: 55px;
  font-size: 25px;
  font-family: roboto;
  color: black;
  /* background-color: plum; */
  margin-left: 10%;
  padding: 15px;
}

.blockSpan {
  display: block;
  text-align: right;
}


.FooterConnectText {
  /* background-color: plum; */
  color: black;
  font-family: roboto;
  display: flex;
  justify-content: right;
  font-size: 30px;
  margin-right: 5%;
  padding: 0;
  flex-direction: row;
  border: none;
  align-items: flex-end;
}

.connectWithUs {
margin: 0;
}

.FooterRight {
  display: flex;
  justify-content: center;
  flex-direction: row;
  /* background-color: plum; */
  align-items: center;
  width: 600px;

}

.FooterMediaIcon {
  /* background-color: plum; */
  height: 50px;
  width: 200px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.socialLogo {
  padding: 5px;
  /* margin: 5px; */
}

@media (max-width: 768px) {
  .FooterContainer, .FooterLeft, .footerRight {
    flex-direction: column;
  }
}