
.outer-container {

  justify-content: end;
  display: flex;

}

.card {
    width: 100%;
    padding: 10px;
    border: none;
}
    
.main-container {
    width: 100%;
    margin: auto;
    border: 1px solid #7201A5;
   
}



.create-experience-button {
    width: 39vw;
    height: 5vh;    
    background-color: #7201A5;
    color: white;
    font-size: 1.5em;
}

.create-experience-button:hover {

    background-color: #8605c2;
}


.locaton-date-flex {
    display: flex;
}

